header {
  margin: 25px 15px;
}


#myForm {
  margin-bottom: 30px;
}

#textID{ }

#submitlist {}

.todo {
  background-color: rgb(231, 231, 231);
  list-style-type: none;
  padding:6px;
  margin:15px auto;
  width:100%;
  border-radius: 10px;
  }

  .complete{
    margin-right:30px;
  }

  .delete{
    margin-right: 10px;
  }

  .strike{
    text-decoration: line-through;
  }

    .undo{
    margin-right:30px;
  }